@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #e4e7ef;
}

body,
input,
button,
p,
textarea {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 400;
  font-size: 14px;
  padding: 2px;
  margin: 2px;
}

input {
  height: 42px;
  border: solid 1px #c9c9c9;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  color: #666;
}

textarea {
  width: 100%;
  height: 110px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #f8bd49;
  border-radius: 7px;
  background-color: transparent;
  font-size: 14px;
  color: #666;
  resize: none;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
  align-content: normal;
  background-color: white;
  padding: 20px;
}

.flex-side {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 600px;
  width: 300px;
  margin-right: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 4px rgba(150, 151, 153, 0.72);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #333333;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  height: max-content;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: break-spaces;
  width: 600px;
  padding: 10px;
  margin: 20 20 20 20;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 4px rgba(150, 151, 153, 0.72);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: regular;
  color: #333333;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 230px;
  height: 190px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  color: #333333;
  box-shadow: -1px 2px 5px 2px rgba(148, 148, 148, 0.7);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: regular;
  font-size: 12px;
}

.note-low {
  background-color: #a2509a;
  color: #fff;
}
.note-hi {
  background-color: #ee5f35;
  color: #fff;
}

.note-c0 {
  background-color: #ffe8b9;
  color: #333333;
}

.note-c1 {
  background-color: #ee5f35;
  color: #fff;
}
.note-c2 {
  background-color: #f8bd49;
  color: #333333;
}
.note-c3 {
  background-color: #e7df34;
  color: #333333;
}
.note-c4 {
  background-color: #86a6d5;
  color: #333333;
}
.note-c5 {
  background-color: #a2509a;
  color: #fff;
}

.textarea_note-low {
  width: 100%;
  height: 90px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  resize: none;
  cursor: pointer;
}

.textarea_note-hi {
  width: 100%;
  height: 90px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  resize: none;
  cursor: pointer;
}

.textarea_note_low:hover {
  border: solid 1px white;
  cursor: text;
}

.textarea_note_hi:hover {
  border: solid 1px white;
  cursor: text;
}

.divicons {
  display: flex;
  align-self: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
  background-color: #fff;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: regular;
  color: #333333;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 230px;
  height: 190px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  color: #333333;
  box-shadow: -1px 2px 5px 2px rgba(148, 148, 148, 0.7);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: regular;
  font-size: 12px;
}

.div-side {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  background-color: transparent;
}

.div-side-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-content: center;
  margin: 2px;
  padding: 1px;
  order: 0;
  margin: 2;
  background-color: transparent;
}

.input-line {
  height: 30px;
  border: solid 1px #c9c9c9;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
  font-size: 12px;
  color: #666;
}

.label-line {
  height: 30px;
  width: 100%;
  border: solid 1px #c9c9c9;
  border-radius: 7px;
  padding: 0;
  background-color: white;
  font-size: 12px;
  align-content: center;
  text-align: center;
  color: #666;
}

.color-A {
  background-color: orange;
  border: solid 1px orange;
  color: #fff;
}
.color-C {
  background-color: green;
  border: solid 1px green;
  color: #fff;
}
.color-P {
  background-color: purple;
  border: solid 1px purple;
  color: #fff;
}
.color-N {
  background-color: orangered;
  border: solid 1px orangered;
  color: #fff;
}
